body {
  margin: 0;
}

header {
  background-color: rgb(0, 191, 228);
  height: 12vh;
  position: relative;
}

main {
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  margin: 5px;
}

#js-triggers {
  list-style-type: none;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}

.modal-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content-pane {
  background-color: white;
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide-modal-panel {
  visibility: hidden;
}

.modal-content {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

nav {
  position: absolute;
  top: 12vh;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden; /* this crops all child elements of the nav */
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none; /* removes bullet points */
  line-height: 30px; /* makes textbox as high as list item, makes text vertically centered */
  border: 2px solid rgb(0, 191, 228);
  text-align: center;
  width: 120px;
  height: 30px;
  background-color: rgb(251, 171, 29);
}

nav ul li ul li {
  visibility: hidden;
  list-style-type: none;
}

.nav-is-menu.hide-menu {
  height: 0;
  transition: all .5s ease-in-out;
}

.nav-is-menu.show-menu {
  height: 34px;
  transition: all .5s ease-in-out;
}

.nav-is-menu {
  justify-content: center;
}

.nav-is-menu ul li {
  float: left; /* makes list items horizontal */
}

.nav-is-side-tray {
  justify-content: flex-start;
}

.nav-is-side-tray ul li {
  float: none;
}

.nav-is-side-tray.hide-menu {
  width: 0;
  transition: all .5s ease-in-out;
}

.nav-is-side-tray.show-menu {
  width: 124px;
  transition: all .5s ease-in-out;
}

.modal-text {
  padding: 15%;
}
